@import "./base.lessvars";

body {
    font-family: "Helvetica Neue", serif;
    font-size: 14px;
    color: @black;
}

html, body, #main-warp { height: 100%; }
#main-warp { height: auto; min-height: 100%;}
#main-warp > #main-content {padding-bottom: 8em;}

a {
    color: @hsa-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

footer a {
	color: blue;
}

img {
    margin: 2px;
    margin-right: 15px;
}

h2 > img {
    margin: 0px;
}

dd {
    display: inline;
	margin-left: 0px;
}

dd > img {
    min-width: 150px;
    max-width: 330px;
    max-height: 120px;
    margin: 0px;
    margin-bottom: 30px;
}

h2 {
	text-align: center;
}

.bottom {
    text-align: center;
    background-color: #00a0af;
}

footer {
    clear: both;
    text-align: center;
    background-color: #00a0af;
    position: relative;
    z-index: 10;
    height: 7em;
    margin-top: -7.5em;
}
/*
 * overrides
 */

.pure-menu .pure-menu-heading {
    padding-left: 0;
}

.container {
    max-width: 984px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: @hsa-color;
    color: @white;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.speaker-list {
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}

.speaker-intro {
    h3 {
        letter-spacing: 4.2px;
        font-size: 150%;
        line-height: 1.4em;
        margin: 0;
    }
    p {
        letter-spacing: 2px;
        line-height: 1.3em;
    }
}

.session-table {
    overflow-x: auto;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;

    th {
        text-align: center;
        background-color: #333;
        color: #fff;
    }

    td {
        text-align: center;
        font-weight: bold;
    }

    tr:hover{
        background-color: #e2e2e2;
    }

    .one-column {
        background-color: #e2e2e2;
    }

    table {
        min-width: 100%;
    }
}
