@import "./base.lessvars";

body {
    font-family: "Helvetica Neue", serif;
    font-size: 16px;
    color: @black;
}

html, body {
    height: 100%;
}

.main {
    min-height: 100%;
}

a {
    color: @hsa-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.3em;

    @media (min-width: 48em) {
        line-height: 2em;
    }
}

h2 {
    text-align: center;
}

.img-block {
    img {
        max-width: 100%;
    }
}

section, footer {
    padding: 20px 0;
}

section {
    > p {
        text-indent: 2em;
    }

    li {
        @media (min-width: 48em) {
            line-height: 2em;
        }
    }
}

/*
 * overrides
 */

.pure-menu {
    @media (max-width: 48em) {
        text-align: center;
    }

    .pure-menu-heading {
        padding-left: 0;

        img {
            width: 180px;

            @media (max-width: 48em) {
                width: 160px;
            }
        }
    }

    .pure-menu-item {
        margin-bottom: 3px;
    }

    .register-item {
        a {
            background-color: @logo-red;
        }
    }
}

.container {
    max-width: 984px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    color: @white;

    a {
        @media (min-width: 48em) {
            font-size: 115%;
        }
    }

    .container {
        @media (max-width: 48em) {
            padding: 0;
        }
    }
}

.header, .footer {
    background-color: @hsa-color;

    a {
        color: @white;

        &:hover {
            text-decoration: none;
        }
    }
}

.logos  {
    .img-block {
        width: 80%;
        margin: 0 auto;
    }
}

.sponsors {

    h4 {
        @media (min-width: 48em) {
            display: none;
        }
    }

    .img-block {
        width: 80%;
        margin: 10px 10%;
    }
}

.map-info {
    background-color: @hsa-color;
    color: @white;

    iframe {
        width: 100%;
        height: 430px;
        border: 0;

        @media (max-width: 48em) {
            height: 210px;
        }
    }
}

.speaker-list {
    text-align: center;
    .justify-content(space-around);

    .hex-o {
        margin: 15px auto;
    }
}

.speaker-intro {
    h3 {
        letter-spacing: 4.2px;
        font-size: 150%;
        line-height: 1.4em;
        margin: 0;
    }
    p {
        letter-spacing: 2px;
        line-height: 1.3em;
    }
}

.speaker-website {
    text-align: center;
    margin: 2px 0;
}

.session-table {
    overflow-x: auto;
    margin: 20px -20px;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #cbcbcb;

    table {
        min-width: 100%;
        border: 0;
    }

    th {
        text-align: center;
        background-color: @th-bg;
        color: @white;
    }

    td {
        text-align: center;
    }

    tr:hover, .one-column {
        background-color: @table-hover;
    }

    .toggle {
        font-size: 120%;

        span {
            width: 2em;
            display: inline-block;
            .transition(transform 0.3s);
        }
    }
}

.th-time {
    width: 6em;
    table-layout: fixed;
}

.th-title {
    min-width: 240px;
}

.th-speaker {
    width: 7em;
    table-layout: fixed;
}

.session-intro {
    height: 0;
    overflow-y: hidden;
    .transition(height 0.3s);

    p {
        text-align: left;
        text-indent: 2em;
    }
}

.show-intro {

    .toggle {
        span {
            .transform(rotate(180deg) translateY(-0.2em));
        }
    }

    .session-intro {
        height: 500px;
        overflow-y: auto;

        @media (max-width: 48em) {
            height: 300px;
        }
    }
}

.register-form {

    margin: 0 -20px;

    iframe {
        width: 100%;
        height: 1000px;
        border: 0;
    }
}
