@import "./base.lessvars";

body {
    font-family: "Helvetica Neue", serif;
    font-size: 14px;
    color: @black;
}

a {
    color: @hsa-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background-color: @hsa-color;
    color: @white;
}

.speaker-list {
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

