@import "./base.lessvars";

@sqrt-three: 1.73;

.hex-path() {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon-basic() {
    position: relative;
    background-color: white;
    overflow: hidden;

    .hex-path();

    .hex-content {
        position: absolute;
        overflow: auto;
        color: @white;
        .opacity(0);
        .transition(opacity 0.2s);
    }
};

.hexagon(@_hex-size) {
    @hex-size: @_hex-size * 1px;
    @hex-width: floor(@hex-size * @sqrt-three);

    width: @hex-width - 1px;
    height: 2 * @hex-size;

    .hex-content {
        top: @hex-size / 2;
        left: 0;
        right: 0;
        bottom: @hex-size / 2;
    }
};

.hex {
    .hexagon-basic();
}

@outline-stroke: 3;
@additional-length: @outline-stroke * 2 / @sqrt-three;

.hex-o {
    margin: 0 auto;
    background-color: @hsa-color;
    &:hover {
        .hex-img {
            &-origin {
                .opacity(0);
            }
        }

        .hex-content {
            .opacity(1);
        }
    }
}

.hex-o-h {
    position: absolute;
    top: @additional-length * 1px;
    left: 3px;
}

.hex-img {
    background-color: @hsa-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;

    .hex-path();

    img {
        height: 100%;
    }

    &-origin {
        .opacity(1);
        // .transition(opacity 0.2s);
    }

    &-blurred {
        img {
            @media (min-width: 48em) {
                .filter(blur(8px) grayscale(0.3));
            }
        }
    }
}

@speaker-size: 160;

.hex-s1 {
    .hexagon(@speaker-size);
}

.hex-o-s1 {
    margin: 0 auto;
    .hexagon(@speaker-size + @additional-length);
}

.hex-content-sm {
    display: none;
    margin-bottom: 2em;
}

@media (max-width: 48em) {
    .hex-content {
        display: none;
    }
    .hex-content-sm {
        display: block;
    }
}
