header.header: .container: .pure-menu.pure-menu-open.pure-menu-horizontal
    a.pure-menu-link.pure-menu-heading(href="/hsa-tutorial-day"): img(alt="NTU HSA Tutorial Day" src="logo.png")
    ul.pure-menu-list
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day") 首頁
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/sessions.html") 議程
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/speakers.html") 講者
        li.pure-menu-item.register-item: a.pure-menu-link.pure-button(href="/hsa-tutorial-day/register.html") 報名
