header.header: .container: .pure-menu.pure-menu-open.pure-menu-horizontal
    img(alt="NTU HSA" src="logo.png")
    a.pure-menu-link.pure-menu-heading(href="/hsa-tutorial-day") NTU HSA Tutorial Day
    ul.pure-menu-list
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/speakers") Speakers
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/sessions") Sessions
