header.header: .container: .pure-menu.pure-menu-open.pure-menu-horizontal
    a.pure-menu-link.pure-menu-heading(href="/hsa-tutorial-day"): img(alt="NTU HSA Tutorial Day" src="logo.png")
    ul.pure-menu-list
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day") Info
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/speakers") Speakers
        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/sessions") Sessions
