header.header: .container: .pure-menu.pure-menu-open.pure-menu-horizontal
    a.pure-menu-link.pure-menu-heading(href="/SDN2015Workshop"): img(alt="NTU HSA Tutorial Day" src="logo.png")
    ul.pure-menu-list
        li.pure-menu-item: a.pure-menu-link(href="/SDN2015Workshop") 首頁
        li.pure-menu-item: a.pure-menu-link(href="/SDN2015Workshop/sessions.html") 議程(台北場)
        li.pure-menu-item: a.pure-menu-link(href="/SDN2015Workshop/sessions_2.html") 議程(台南場)
        li.pure-menu-item.register-item: a.pure-menu-link.pure-button(href="/SDN2015Workshop/register.html") 報名
//        li.pure-menu-item: a.pure-menu-link(href="/hsa-tutorial-day/speakers.html") 講者
