extends layout.jade

block content
    p
        | HSA is an emerging standard for heterogeneous multicore computing systems and has become an important topic for research, development, and education in computer architecture and system software.
        | However, based on our experience at NTU, HSA covers a wide spectrum of hardware and software issues and is difficult even for experienced hardware designers and software developers to tackle alone.
        | Thus, we believe that a set of tutorial sessions would be instrumental to bring students and engineers up to speed.
        | Fortunately, there are some preliminary open-source tutorial materials for HSA, created by pioneers and early participants, which we can leverage to educate ourselves.
        | After 4 months of group studying and discussions, we think that it is a great idea to share our experience to the public and help to jump-start novice who are interested in HSA.
        | By the proposed HSA Tutorial Day, we hope to inspire a series of activities to strengthen the links between architecture and system software communities promote the exchange of knowledge and ideas between the academia and industry in Taiwan.
