extends layout.jade

block content
    section.pure-g
        .pure-u-1-2.img-block: img(src="logo-color.png", alt="NTU HSA Tutorial Day")
        .pure-u-1-2.img-block: img(src="logo-time.png", alt="Time")
        //- .pure-u-1-2.date
            span.year 2015
            span.month March
            span.date 06
            span.place NTU
    section
        h2 HSA 異質運算
        h3= p2
    hr
    section
        h2 Sponsor 特別感謝
        .sponsors.pure-g
            each sponsor in sponsors
                .pure-u-1.pure-u-md-1-3: .img-block: img(src=sponsor.logo alt=sponsor.name)

block bottom
    section.map-info
        .container
            h2 &dash;&nbsp;活動地點&nbsp;&dash;
            h3
                | 國立臺灣大學 National Taiwan University
                br
                | 10617 臺北市羅斯福路四段一號 博理館2樓201
        iframe(src=mapLink)
