doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
    head
        title NTU HSA Tutorial Day
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        link(rel="stylesheet", type="text/css", href="app.css")
    body
        div(id="container")
            include ./header.jade
            .container
                block content
            block bottom
        script(type="text/javascript", src="app.min.js")
    footer
        div
            hr
            h3 contact us: hungsh@csie.ntu.edu.tw
            p 
                | Logo and design by 
                a(href="https://github.com/MedicineYeh") Medicine Yeh
                | &
                a(href="https://github.com/teaualune") Lawrence Tseng
