doctype html
html(lang="zh-TW", xmlns="http://www.w3.org/1999/xhtml")
    head
        title NTU HSA Tutorial Day
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        link(rel="stylesheet", type="text/css", href="app.css")
        link(rel="icon", type="image/png", href="/hsa-tutorial-day/favicon-32x32.png", sizes="32x32")
        link(rel="shortcut icon", type="image/x-icon", href="/hsa-tutorial-day/favicon.ico")
        link(rel="apple-touch-icon", href="/hsa-tutorial-day/apple-touch-icon-180x180.png")
    body
        include ./header.jade
        .main.container
            block content
        block bottom
        footer.footer: .container
            h3
                | Contact us:&nbsp;
                a(href="mailto:hungsh@csie.ntu.edu.tw") hungsh@csie.ntu.edu.tw
            small
                | Logo and design by 
                a(href="https://github.com/teaualune", target="_blank") Lawrence Tseng
                | &nbsp;&amp;&nbsp;
                a(href="https://github.com/MedicineYeh", target="_blank") Medicine Yeh
        if scripts && scripts.length
            each s in scripts
                script(type="text/javascript", src=s)
