doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
    head
        title NTU HSA Tutorial Day
        link(rel="stylesheet", href="app.css")
    body
        block content
        script(type="text/javascript", src="app.min.js")