doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
    head
        title NTU HSA Tutorial Day
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Merriweather")
        link(rel="stylesheet", type="text/css", href="app.css")
    body
        include ./header.jade
        .container
            block content
        script(type="text/javascript", src="app.min.js")