extends layout.jade

block content
    h1 Register 報名
    h3
        | 主辦單位：
        a(href="http://www.itsa.org.tw/", target="_blank") 教育部資通訊系統軟體資源中心
    .register-form: iframe(src=formUrl) Loading...
