extends layout.jade

block content
    h1 Register 報名
    h3
        | 主辦單位：
        a(href="http://www.ntu.edu.tw/oldchinese/spotlight/2014/141222_1.htm", target="_blank") 臺大-聯發科技產學大聯盟
    .register-form: iframe(src=formUrl)