extends layout.jade

block content
    h1 Sessions
    .session-table
        table.pure-table
            thead: tr
                th Title
                th Speaker
                th Introduction
                th Time
            tbody
                each s in sessions
                    tr
                        th= s.title
                        th= s.speaker
                        th= s.intro
                        th= s.time
