extends layout.jade

block content
    h1 Speakers
    .speaker-list: ul
        li
            .hex.hex-o.hex-o-s1: .hex-o-h: .hex.hex-s1
                .hex-img.hex-img-blurred: img(src="http://graph.facebook.com/100002087628086/picture?redirect=1&type=large")
                .hex-img.hex-img-origin: img(src="http://graph.facebook.com/100002087628086/picture?redirect=1&type=large")
                .hex-content
                    h3 Medicine Yeh
                    p PASLAB Student